<% include ./partials/header %>
<div>
    <form action="/login" method="POST">
        <div>
            <label>User</label>
            <input type="text" name="username" placeholder="username">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" placeholder="password">
        </div>
        <div>
            <label>Submit</label>
            <input type="submit">
        </div>
    </form>
</div>
<% include ./partials/footer %>